
<table border="1" bgcolor="#00FF00" class="cats_list">
  <th>Name</th>
  <th>Sex</th>
  <th>Info</th>
<%-@cats.each do |e| %>
      <tr>
        <td>   <%=e.name  %></td>
        <td>   <%=e.sex %></td>
        <td>   <%=e.description %></td>
        <td>   <%= link_to 'edit cat', edit_cat_path(e) %></td>
        <td>   <%= link_to 'show cat',cat_path(e) %> </td>
        <td>   <%= link_to 'destroy',e,method: :delete %></td>
      </tr>

<%- end %>
    </table>
<%= link_to 'new cat',  new_cat_path %>