<script type="text/javascript">
  $(document).ready(function(){
      say_hello("<%= @cat.name %>");
  })
</script>
<p>ID: <%= @cat.id %></p>
<p>Family: <%= @cat.family %></p>
<p>Descr: <%= @cat.description %></p>
<p>Sex: <%= @cat.sex %></p>